<div class="container">
    
    <div class="container">
        <div class="row">
            <h2 class="text">Detalles de la casa</h2>
            <br>
            <div class="row">
                <div class="col-6">
                    <img src="{{this.casa.foto}}" class="w-100" style="height: 350px;" alt="">
                </div>
                <div class="col-6">

                    <h1>Detalles</h1>
                    <p class=" mb-2">
                        Disfruta esta hermosa casa ubicada en {{this.casa.pais}}, en la ciudad de {{this.casa.ciudad}}, ubicada en el estado {{this.casa.estado}}
                    </p>

                            
                    <h2 class=""> Información de la casa:  </h2>
        
                    <p class="mt-2">
                        Dirección: {{this.casa.direccion}}
                    </p>
                    <p class="">
                        Teléfono: {{this.casa.telefono}}
                    </p>
                    <p class="">
                        Dueño: {{this.casa.idPropietario}}
                    </p>
        
                    <h1>Puntuacion promedio de la casa: {{this.puntajePromedio}}</h1>
                    
                    <!-- <h4>La calificación promedio de esta casa es de: <ngb-rating class="mt-4 mb-4" [readonly]="true" [max]="5" [rate]="this.puntajePromedio"></ngb-rating></h4>  -->

                  
        
                    <div class="">
                        <a [routerLink]="['/reserva/', this.casa.idCasa]"><button class="btn-outline-success btn w-100 mt-3 mb-3"> Reserva esta casa</button></a>
                    </div>

                </div>
            </div>
            

            
        </div>
        <br>
        <div class="row">
            <div class="col-12">
                <h2 class="text-center">Comentarios sobre la estadía en esta casa</h2>
                <hr>
                <div class="col-md-6 col-12 ">

                    <div class=""  *ngFor="let calificacion of this.calificaciones" >
                        
                        <div class="" *ngIf="calificacion.puntajeEstadia != null && calificacion.comentarioEstadia != '' ">
        
                            <hr>
                            <h4>Puntuacion: {{calificacion.puntajeEstadia}}</h4>
                            <!-- <ngb-rating class="mt-2 mb-2" *ngIf="calificacion.puntajeEstadia != null" [readonly]="true" [max]="5" [rate]="calificacion.puntajeEstadia"></ngb-rating> -->
                            <textarea name="" id="" cols="75" rows="3" disabled>{{calificacion.comentarioEstadia}} </textarea>
                            <p> </p>
                            <hr>
        
                        </div>
                        
                    </div>
        
                </div>
        
            </div>

        </div>

    </div>
        
</div>
